<footer>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../static/img/logo1.jpg" alt="" class="img-fluid w-100">
                <p>
                    <h3 style="color:orange">Dirección:</h3> Estamos ubicados en la calle 71 #58-102 local 202 cerca a centro comercial platino
                </p>
                <p>
                    <h3 style="color:orange">Horarios:</h3>Lunes a sábado de 12:00pm a 3:00pm y de 6:00pm a 11:00pm
                </p>
                <p>
                    <h3 style="color:orange">Telefono:</h3> (604) 6021393
                </p>
                <p>
                    <h3 style="color:orange">Whatsapp:</h3>(301)5206557
                </p>               
            </div>
            <div class="col-12 col-md-8">
                <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5773.953078199736!2d-75.59842766300862!3d6.188010633622372!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46836c8ebe8d7f%3A0xf1736c37f975edb0!2sCiudadela%20del%20Parque%20Arquitectura%20y%20Concreto%20-%20Sala%20de%20ventas!5e0!3m2!1ses-419!2sco!4v1667419480189!5m2!1ses-419!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-12 copy">
                <p>&copy; Copyright 2018 - Official ElHerbario.  All rights reserved.</p>
            </div>
            <div class="social col-md-12 copy">
                <a href="#"><img src="../static/img/facebook.jpg" alt="facebook" id="fotoprueba"></a>
                <a href="#"><img src="../static/img/youtube.png" alt="youtube" id="fotoprueba"></a>
                <a href="#"><img src="../static/img/twiter.png" alt="linkedin" id="fotoprueba"></a>               
            </div>
        </div>
    </div>
</footer>